nav{
  background-color: rgb(197, 238, 171);

}
.divnest{
  color: aliceblue;
  font-size: larger;

}
.divvs{
  color: aliceblue;
  font-family: monospace;
}
.toglr{
  border:2px solid aliceblue;
}
.divvs:hover{
  color: black;
  font-weight:bolder;
  font-family: sans-serif;
}
